<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.product.presentation">

    <application>
        <activity
            android:name=".list.ProductListActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="launch"/>
                <data android:host="products"/>

            </intent-filter>

        </activity>
    </application>

</manifest>